@charset "utf-8";
/* CSS Document */

body{
text-align:center;
font-family:Tahoma, Geneva, sans-serif;
font-size:30px;



}

.menu{
color:#000;
font-size:30px;

}



a:link{
color:#000;
text-decoration: none;
}

a:visited{
	color:#000;
text-decoration: none;


}
a:hover{
color:#0F0;
text-decoration: none;
}

